{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    {% if event.thumbnail %}
      <img src="{{ event.thumbnail.url }}" class="img-fluid mb-3" alt="{{ event.title }}">
    {% endif %}
    <h2>{{ event.title }}</h2>
    <p>{{ event.description|linebreaks }}</p>
    <p>
      Categoria: {{ event.get_category_display }}<br>
      Data: {{ event.scheduled_date|date:"d/m/Y H:i" }}<br>
      Estat: {{ event.get_status_display }}<br>
      Creador: {{ event.creator.username }}
    </p>

    {% if event.stream_url %}
      <div class="ratio ratio-16x9 mb-3">
        <iframe src="{{ event.get_stream_embed_url }}" title="{{ event.title }}" allowfullscreen></iframe>
      </div>
    {% endif %}

    {% if is_creator %}
      <a href="{% url 'events:event_update' event.pk %}" class="btn btn-secondary">Editar</a>
      <a href="{% url 'events:event_delete' event.pk %}" class="btn btn-danger">Eliminar</a>
    {% endif %}
  </div>
</div>
{% endblock %}
